body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,119,1) 39%, rgba(0,53,255,1) 100%);
    color: white;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 100px;
}

h1:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;
}

h1:not(:hover)  {
    transform: scale(1);
    transition: all 0.5s;
}
