h2 {
    margin: 100px 0;
}

h2:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;
}

h2:not(:hover)  {
    transform: scale(1);
    transition: all 0.5s;
}

.delete-btn-laptop, .change-btn-laptop {
    width: 100%;
}

.change-btn-laptop {
    margin: 5px 0 10px 0;
}

.wrap-btn {
    text-align: start;
}

.btn-add-laptop, .btn-add-service {
    margin-left: 10px;
    width: 250px;
}

.delete-btn-service, .change-btn-service {
    width: 30%;
}

.delete-btn-service {
    margin-right: 50px;
}

.user {
    text-align: end;
    margin-right: 20px;
    margin-top: 10px;
    font-weight: bold;
}





